[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MobilityTransformR"]
	path = MobilityTransformR
	url = https://github.com/liesasalzer/mobilitytransformr
